apiVersion: kubeadm.k8s.io/v1alpha2
kind: MasterConfiguration
kubernetesVersion: v1.11.3
imageRepository: registry.aliyuncs.com/google_containers 

apiServerCertSANs:
- "k8s-master-86"
- "192.168.31.86"
- "127.0.0.1"

api:
  advertiseAddress: 192.168.31.86
  bindPort: 6443
  controlPlaneEndpoint: ""

etcd:
  local:
    extraArgs:
      listen-client-urls: "https://127.0.0.1:2379,https://192.168.31.86:2379"
      advertise-client-urls: "https://192.168.31.86:2379"
      listen-peer-urls: "https://192.168.31.86:2380"
      initial-advertise-peer-urls: "https://192.168.31.86:2380"
      initial-cluster: "k8s-master-86=https://192.168.31.86:2380"
    serverCertSANs:
      - k8s-master-86
      - 192.168.31.86
    peerCertSANs:
      - k8s-master-86
      - 192.168.31.86

controllerManagerExtraArgs:
  node-monitor-grace-period: 10s
  pod-eviction-timeout: 10s

networking:
  podSubnet: 10.244.0.0/16
  
kubeProxy:
  config:
    # mode: ipvs
    mode: iptables

